In [1]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv("C:/CSV files/autoInsurance.csv")

In [6]:
df.head(10)
#displays 1st 10 rows

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,03-02-2011,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
5,OC83172,Oregon,8256.297800,Yes,Basic,Bachelor,1/25/11,Employed,F,62902,...,94,0,2,Personal Auto,Personal L3,Offer2,Web,159.383042,Two-Door Car,Medsize
6,XZ87318,Oregon,5380.898636,Yes,Basic,College,2/24/11,Employed,F,55350,...,13,0,9,Corporate Auto,Corporate L3,Offer1,Agent,321.600000,Four-Door Car,Medsize
7,CF85061,Arizona,7216.100311,No,Premium,Master,1/18/11,Unemployed,M,0,...,68,0,4,Corporate Auto,Corporate L3,Offer1,Agent,363.029680,Four-Door Car,Medsize
8,DY87989,Oregon,24127.504020,Yes,Basic,Bachelor,1/26/11,Medical Leave,M,14072,...,3,0,2,Corporate Auto,Corporate L3,Offer1,Agent,511.200000,Four-Door Car,Medsize
9,BQ94931,Oregon,7388.178085,No,Extended,College,2/17/11,Employed,F,28812,...,7,0,8,Special Auto,Special L2,Offer2,Branch,425.527834,Four-Door Car,Medsize

In [7]:
df.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [8]:
to_drop=['Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints']
df.drop(to_drop, inplace=True, axis=1)
#droped perticular row

In [9]:
df.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [39]:
for i in df.columns:
    df[i].is_unique

In [24]:
 df['Customer'].is_unique

False

In [25]:
df['State'].is_unique

False

In [26]:
df['Customer Lifetime Value'].is_unique

False

In [27]:
df['Response'].is_unique

False

In [29]:
df['Coverage'].is_unique

False

In [31]:
df['Effective To Date'].is_unique

False

In [37]:
df['Vehicle Class'].is_unique

False

In [43]:
df.dtypes

Customer                    object
State                       object
Customer Lifetime Value    float64
Response                    object
Coverage                    object
Education                   object
Effective To Date           object
EmploymentStatus            object
Gender                      object
Income                       int64
Location Code               object
Marital Status              object
Monthly Premium Auto         int64
Number of Policies           int64
Policy Type                 object
Policy                      object
Renew Offer Type            object
Sales Channel               object
Total Claim Amount         float64
Vehicle Class               object
Vehicle Size                object
dtype: object

In [44]:
df.loc[206]
#it print row 206

Customer                         XX12304
State                         California
Customer Lifetime Value      2924.976721
Response                              No
Coverage                           Basic
Education                        College
Effective To Date             09-01-2011
EmploymentStatus                Employed
Gender                                 F
Income                             64459
Location Code                      Urban
Marital Status                   Married
Monthly Premium Auto                  72
Number of Policies                     1
Policy Type                Personal Auto
Policy                       Personal L1
Renew Offer Type                  Offer2
Sales Channel                     Branch
Total Claim Amount            240.259479
Vehicle Class              Four-Door Car
Vehicle Size                     Medsize
Name: 206, dtype: object

In [45]:
df.loc[190:, 'State'].head(10)
#it prints all the states from row 190 to 199 as we have used head 10

190    California
191    California
192    California
193        Oregon
194       Arizona
195    Washington
196        Oregon
197        Oregon
198    Washington
199    California
Name: State, dtype: object

In [48]:
df.isnull().sum()
#there is no null value

Customer                   0
State                      0
Customer Lifetime Value    0
Response                   0
Coverage                   0
Education                  0
Effective To Date          0
EmploymentStatus           0
Gender                     0
Income                     0
Location Code              0
Marital Status             0
Monthly Premium Auto       0
Number of Policies         0
Policy Type                0
Policy                     0
Renew Offer Type           0
Sales Channel              0
Total Claim Amount         0
Vehicle Class              0
Vehicle Size               0
dtype: int64

In [51]:
df.rename(columns={"Customer Lifetime Value":"CLV"},inplace =True)
#renaming the column

In [52]:
df

,Customer,State,CLV,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Marital Status,Monthly Premium Auto,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,Married,69,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,Single,94,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,Married,108,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,Married,106,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,03-02-2011,Employed,M,43836,...,Single,73,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,10-02-2011,Employed,M,71941,...,Married,73,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,12-02-2011,Employed,F,21604,...,Divorced,79,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,06-02-2011,Unemployed,M,0,...,Single,85,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,03-02-2011,Employed,M,21941,...,Married,96,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,Single,77,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize